In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, auc, roc_auc_score

import preprocess as preproc
import util as utility
import model as md

In [6]:
train_data = pd.read_csv('data store/training_dataset.csv')
print(train_data.shape)
train_data.head()

(92770, 16)

,Unnamed: 0,Data Year - Fiscal,Tobin's Q,EPS,Liquidity,Profitability,Productivity,Leverage Ratio,Asset Turnover,Operational Margin,Return on Equity,Market Book Ratio,Assets Growth,Sales Growth,Employee Growth,BK
0,20255,2004,1.14,1.14,0.33,0.34,0.09,0.95,1.14,0.08,0.07,4.67,0.552115,0.204853,-0.165584,0
1,19027,1986,1.03,8.22,0.07,0.46,0.07,0.18,0.42,0.18,0.10,66.36,-0.001658,0.063550,-0.037619,0
2,78254,2005,1.10,1.04,0.02,0.02,0.06,0.65,0.14,0.45,0.08,16.34,NaN,NaN,NaN,0
3,61897,2000,0.59,-1.27,0.20,-2.82,-0.78,0.00,0.56,-1.38,-2.13,3.99,-0.428413,-0.075351,-0.444444,0
4,19327,1994,1.14,2.64,-0.03,0.11,0.08,1.09,0.41,0.20,0.09,19.36,0.047428,0.027269,0.018307,0

In [7]:
#  Prepare preprocessor 
#  Go through transformation process and generate processed dataframe

features_dropna = ["Tobin's Q", "EPS", "Leverage Ratio", "Return on Equity", "Market Book Ratio", "Operational Margin", "Assets Growth", "Productivity", "Sales Growth", "Employee Growth"]
features_impute = ["Liquidity", "Profitability", "Asset Turnover"]
features_todrop = ["Unnamed: 0", "Liquidity"]
target = "BK"
train_data_object = preproc.preprocessor(train_data)

processed_df = preproc.feature_preprocessor(train_data_object, features_dropna, features_impute, features_todrop, target)

before processing:  (92770, 16)

In [9]:
df_explore = utility.df_explore_helper(processed_df)
df_explore

# write to csv
#processed_df.to_csv("data store/training_dataset_processed.csv", encoding='utf-8')

Shape of dataframe: (81114, 14)

,Name,dtypes,Missing values,Unique values,First Value,Minimum,Maximum
0,Data Year - Fiscal,float64,0,38,-0.018859,-2.498650,1.324361
1,Tobin's Q,float64,0,6082,-0.032974,-0.041438,203.482453
2,EPS,float64,0,5945,0.007342,-163.778240,23.610250
3,Profitability,float64,0,7027,0.035573,-96.644515,0.555093
4,Productivity,float64,0,4461,0.051030,-177.318602,5.171653
5,Leverage Ratio,float64,0,5943,-0.002026,-28.861493,280.649696
6,Asset Turnover,float64,0,4148,0.007022,-14.752548,124.126299
7,Operational Margin,float64,0,6313,0.035441,-140.161903,1.867786
8,Return on Equity,float64,0,4606,0.007970,-254.970235,32.222737
9,Market Book Ratio,float64,0,44688,-0.029011,-160.284248,70.875573
10,Assets Growth,float64,0,80976,-0.006506,-0.030761,222.431250
11,Sales Growth,float64,0,79890,-0.009840,-0.160797,217.664568
12,Employee Growth,float64,0,48006,-0.035420,-0.093271,187.101400
13,BK,int64,0,2,0.000000,0.000000,1.000000